.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0; 
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
}

a:hover {
    text-decoration: none;
}

main {
    padding-top: 55.5px;
}

.side-item {
    font-size: 140%;
    text-decoration: none;
    color: rgb(77, 77, 77);
    font-size-adjust: initial;
}

.nav-link {
    padding: .5rem 1rem;
}

.heading {
    padding-top: 5px;
}

.dropdown-header {
    color: black;
    pointer-events: none;
}

.dropdown-header:hover {
    background-color: white;
}

.themes {
    width: 1.3em;
    height: 1.3em;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}

.themes[color="green"]{
    background-color: green;
}

.themes[color="dark"]{
    background-color: #343a40;
}

.themes[color="white"]{
    background-color: whitesmoke;
}

div[noclick]:active
{
    background-color: white;
}

.themes:checked {
    background-color: gray;
    opacity: 1;
}

.bg-dark[color="green"] {
    background-color: green!important;
}

.status_icon[status="online"] {
    color: green;
    background-color: green;
    border-radius: 180px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.status_icon[status="pending"] {
    color: orange;
    background-color: orange;
    border-radius: 180px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.status_icon[status="offline"] {
    color: red;
    background-color: red;
    border-radius: 180px;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}