<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">R-Berry Cloud</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse order-3" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        ...
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <a class="dropdown-item dropdown-header" href="#" id='navbarDropdownMenuInfo'>...</a>
                                        <hr>
                                        <a class="dropdown-item" href="/settings">
                                                <span class="iconify" data-icon="feather-settings"
                                                        data-inline="true"></span>
                                                Settings
                                        </a>
                                        <a class="dropdown-item" href="#" id="logout">
                                                <span class="iconify" data-icon="feather-log-out"
                                                        data-inline="true"></span>
                                                Logout
                                        </a>
                                </div>
                        </li>

                        <li class="nav-item dropdown">
                                <a class="nav-link" id="navbarDropdownMenuLink2"
                                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Status: <span class="iconify status_icon" data-icon="feather-circle" data-inline="true" status='pending'></span>
                                </a>
                        </li>
                </ul>
        </div>
</nav>

<script>
        $("#logout").click(() => {
                localStorage.removeItem('key');
                location.href = "/login";
        });

        $.get(`${API_URL}/users/${localStorage.getItem('key')}`).then(response => {
                if (response.success){
                        $('#navbarDropdownMenuLink').text(response.name);
                        $('#navbarDropdownMenuInfo').text(response.email);
                }
                else {
                        location.href = '/';
                }
        });

        $('a').each(function (index) {
            $(this).attr('href', $(this).attr('href') + '?key=' + localStorage.getItem('key'));
        });
</script>