<!-- Ref: https://getbootstrap.com/docs/4.1/examples/dashboard/# -->
<div id="sidebar" class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">

            <li class="nav-item">
                <a href="/dashboard" class="nav-link side-item" aria-disabled="true">&nbsp;
                    <span class="iconify" data-icon="feather-server" data-inline="true"></span>
                    <span class="link-text">Dashboard</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/devices" class="nav-link side-item">&nbsp;
                    <span class="iconify" data-icon="feather-list" data-inline="true"></span>
                    <span class="link-text">Devices</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/events" class="nav-link side-item">&nbsp;
                    <span class="iconify" data-icon="feather-terminal" data-inline="true"></span>
                    <span class="link-text">Events</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/browser" class="nav-link side-item">&nbsp;
                    <span class="iconify" data-icon="feather-file-text" data-inline="true"></span>
                    <span class="link-text">File Browser</span>
                </a>
            </li>

            <li class="nav-item">
                <a href="/gpio" class="nav-link side-item">&nbsp;
                        <span class="iconify" data-icon="feather-map-pin" data-inline="true"></span>
                        <span class="link-text">Gpio Map</span>
                </a>
            </li>
        </ul>
    </div>
</div>