body{
  margin: 0;
  padding: 0;
  font-family: "nationale","nationale-regular","Helvetica",sans-serif;
  background-image: url(background.jpg);
  background-attachment: fixed;
  background-size: cover;
}

.box{
  width: 400px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: rgba(0,0,0,0.6);
  border-radius: 20px 20px 20px 20px;
  text-align: center;
}

.box h1{
  color: rgb(221, 77, 10);
  text-transform: uppercase;
  font-weight: 500;
}

.box h2{
    color: white;
    font-weight: 100;
  }

.box input[type = "username"],.box input[type = "password"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.30s;
}

.box input[type = "username"]:focus,.box input[type = "password"]:focus{
  width: 280px;
  border-color: #cc104f;
}

.box input[type = "button"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #cc104f;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.30s;
  cursor: pointer;
}

.box input[type = "button"]:hover{
  background: #cc104f;
}
